{% extends 'base.html.twig' %}

{% block title 'Agence Thomas'%}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence Thomas</h1>
        <p>L'agence qui se monte pendant la crise du COVID-19</p>
    </div>
    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card" >
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show',{ id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                            </h5>  {% if property.filename %}
                                <img src="{{ vich_uploader_asset(property, 'imageFile')  }}"alt="card-img-top"; style="width: 100%"; height="auto"; />
                            {% else %}
                                <img src="{{ ' /images/empty/empty.jpg ' }}"alt="card-img-top"; style="width: 100%"; height="auto"; />
                            {% endif %}
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                            <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{ property.formattedPrice}} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}