{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}
    <div class="jumbotron" xmlns:font-weight="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml"
         xmlns:height="http://www.w3.org/1999/xhtml" xmlns:background-size="http://www.w3.org/1999/xhtml">
        <div class="container">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-md-8">
                    {% if property.filename %}
                        <img src="{{ vich_uploader_asset(property, 'imageFile') }}" alt="card-img-top" ;
                             style="width: 100%" ; height="530" ;/>
                    {% else %}
                        <img src="{{ ' /images/empty/empty.jpg ' }}" alt="card-img-top" ; width="100%" ; height="530"
                             ;/>
                    {% endif %}
                </div>
                <div class="col-md-4 " xmlns:font-weight="http://www.w3.org/1999/xhtml">
                    <h1>{{ property.title }}</h1>
                    <h2>{{ property.rooms }} pièces - {{ property.surface }} m²</h2>
                    <div class="text-primary" style="font-size: 3rem" ; font-weight: bold>{{ property.formattedPrice }}
                        €
                    </div>
                    <a href="#" class="btn btn-primary" id="contactButton"
                        {% if form.vars.submitted %}
                        style="display: none;"
                        {% endif %}>Contacter l'agence</a>
                    <div id="contactForm"
                         class="'mt-4" {% if not form.vars.submitted %} style="display: none;"{% endif %}>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col">{{ form_row(form.firstname) }}</div>
                            <div class="col">{{ form_row(form.lastname) }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ form_row(form.phone) }}</div>
                            <div class="col">{{ form_row(form.email) }}</div>
                        </div>
                        {{ form_rest(form) }}
                        <div class="form-group">
                            <button class="btn btn-primary">Envoyer</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4 " xmlns:font-weight="http://www.w3.org/1999/xhtml">
        <p>
            {{ property.description | nl2br }}
        </p>
        <div class="row">
            <div class="col-md-8">
                <table class="table table-striped">
                    <h2>Caractéristiques</h2>
                    <tr>
                        <td>Surface habitable</td>
                        <td>{{ property.surface }} m²</td>
                    </tr>
                    <tr>
                        <td>Pièces</td>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <td>Chambres</td>
                        <td>{{ property.bedrooms }}</td>
                    </tr>
                    <tr>
                        <td>Chauffage</td>
                        <td>{{ property.heatType }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Spécificités</h2>
                <ul class="list-group">
                    {% for option in property.options %}
                        <li class="list-group-item">{{ option.name }}</li>
                    {% endfor %}
                </ul>
            </div>

        </div>


    </div>
{% endblock %}


